@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;0,700;0,900;1,400&display=swap');

html,
body {
  color: #0d0d0d;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  overflow: auto;
  padding: 0;
}

html,
body {
  background: #f9f8f5;
  height: 100%;
  width: 100%;
}

img {
  display: block;
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

header,
section,
footer {
  margin: 3rem auto;
  max-width: 40rem;
  padding: 0 1.5rem;
}

h1 {
  font-family: Besley, Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  font-weight: 900;
  opacity: 0.85;
  text-align: center;
}

h2 {
  color: #001442;
  font-family: Besley, Georgia, 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 0;
  opacity: 0.85;
}

h2.subtitle {
  color: #001442;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  margin-top: -2rem;
  opacity: 0.67;
  text-align: center;
  text-transform: uppercase;
}

h5 {
  color: #001442;
  font-family: Besley, Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  opacity: 0.85;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 1.4rem;
}

li {
  line-height: 1.4;
}

a {
  color: #0038ba;
}

ol.chapter {
  display: block;
  list-style: none;
  padding: 0;
}

ol.chapter::before {
  bottom: 0.2em;
  color: #001442;
  content: attr(value);
  float: left;
  font-family: Besley;
  font-size: 1.6em;
  font-weight: 900;
  margin-right: 0.5rem;
  opacity: 0.85;
  position: relative;
}

li.verse {
  counter-increment: list-item;
  display: inline;
}

li.verse::before {
  bottom: 0.2em;
  color: #001442;
  content: counter(list-item);
  font-family: Besley;
  font-size: 0.8em;
  font-weight: 700;
  margin-right: 0.2em;
  opacity: 0.85;
  position: relative;
}

li.verse.first::before {
  display: none;
}

h2>.volunteer,
h5>.volunteer {
  display: block;
  font-size: 1rem;
  font-weight: normal;
}

h2>.volunteer::before,
h5>.volunteer::before {
  content: "•";
  margin-right: 0.5em;
}

.lyrics {
  list-style: none;
  margin: 1rem 0 0;
  border-left: 0.25rem solid #00144253;
  padding: 0.5rem 1rem;
}

.lyrics>h3 {
  color: #001442;
  font-family: Besley, Georgia, 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
  opacity: 0.85;
}

.lyrics>h4 {
  color: #001442;
  font-family: Besley, Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0.75em 0 0;
  opacity: 0.85;
}

.lyrics>.instructions {
  font-family: Besley, Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
}

blockquote.recitation {
  border-left: 0.25rem solid #00144253;
  margin-left: 0;
  padding-left: 1rem;
}

/* Tablet, desktop styles */
@media screen and (min-width: 720px) {
  .lyrics {
    padding: 0 2rem;
  }

  h2,
  h5 {
    align-items: baseline;
    display: flex;
  }

  h2>.dots,
  h5>.dots {
    border-bottom: 3px dotted #001442;
    flex: 1;
  }

  h2>.volunteer::before,
  h5>.volunteer::before {
    display: none;
  }
}
